@import "tailwindcss";

html, body {
  min-height: 100%;
  background: linear-gradient(to right, #030303, #2a2a2b, #0c0c0c);
}

body {
  color: rgba(255, 68, 0, 0.938);
}

@keyframes firework {
  0% {
    opacity: 1;
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(3.5) translate(-50%, -50%);
  }
}

.firework {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  animation: firework 700ms ease-out forwards;
  pointer-events: none;
}

.yellow-strip {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: #FFDD00;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  transform: rotate(-45deg);
  transform-origin: center;
  z-index: 9999;
  animation: moveDiagonal 30s linear infinite;
}

@keyframes moveDiagonal {
  0% {
    transform: rotate(-45deg) translateX(-100vw);
  }
  50% {
    transform: rotate(-45deg) translateX(100vw);
  }
  100% {
    transform: rotate(-45deg) translateX(-100vw);
  }
}
