@import "tailwindcss";

html, body {
  min-height: 100%;
  background: linear-gradient(to right, #030303, #2a2a2b, #0c0c0c);
}

body {
  color: rgba(255, 68, 0, 0.938);
}

@keyframes firework {
  0% {
    opacity: 1;
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(3.5) translate(-50%, -50%);
  }
}

.firework {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  animation: firework 700ms ease-out forwards;
  pointer-events: none;
}
